


* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}



.font-open-sans-{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-head{
    max-width: 827px;
    text-align: center;
    margin: auto;

}

.section-head h2{
    font-size: 35px;
    margin-bottom: 30px ;
}
.section-head p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* header */

header{
    background-color: #FFF8F3;
    background: url("./images/developer.png"), url("./images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo{
    font-size: 45px;
}
nav{
     width: 100%;
     max-width: 1140px;
     margin: 0 auto ;
     display: flex;
     align-items: center;
     justify-content: space-between;

}

nav  .avnav{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .avnav a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
 /* header of */
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-con{
    max-width: 585px;
}

#banner .banner-con h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-con h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-con p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-img  img{
    max-width: 585px;

}


/* baner clocge */


#about{
   padding-top: 130px;

}

#about .about-contanier{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-contanier .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h3{
    font-size: 20px;


}

/* about-info cloge */

#i-do{
    padding-top: 130px;
}


#i-do .i-do-continer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}


#i-do .i-do-continer .skill-box{
    display: flex;
    gap: 28px;

}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 247px;
    box-shadow: 0 6px 50px 0 #00000018;

}

 .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

 }

  .skill-card h2{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
  }

   .skill-card p{

       font-size: 16px;
       color: #757575;
       line-height: 29px;
       margin-bottom: 30px;
   }

   
   /* of */


.resume {
  max-width: 1140px;
  margin: 100px auto;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 60px;
}

.resume-container {
  display: flex;
  gap: 60px;
}

.resume-col {
  flex: 1;
}

.col-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.item {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.item h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.item span {
  font-size: 14px;
  color: #757575;
}

.item p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 26px;
}

.btn-wrap {
  text-align: center;
  margin-top: 40px;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}







/* Main Section */
.contact {
  background: #fff6ee;
  padding: 80px 0;
}

/* Container */
.container {
  width: 1100px;
  margin: auto;
  display: flex;
  gap: 80px;
}

/* Left Side */
.left {
  flex: 1;
}

.left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.left p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Social Icons */
.social {
  display: flex;
  gap: 18px;
}

.social img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social img:hover {
  transform: scale(1.2);
}

/* Right Side */
.right {
  flex: 1;
}

.right h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  outline: none;
}

form textarea {
  height: 120px;
  resize: none;
}

/* Button */
/* form button {
  background: #ff6a00;
  color: #ffffff;
  padding: 12px 35px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
} */

