

*{
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}

.font-open-sans-{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* header */

header{
    background-color: #FFF8F3;
    background: url("/hero-dev-portfolio-resources/images/developer.png"), url("./hero-dev-portfolio-resources/images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo{
    font-size: 45px;
}
nav{
    width: 71%;
    border: 1px solid red;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    align-items: center; 
     justify-content: space-between; 
}

nav  .avnav{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .avnav a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
 /* header of */
#banner{
    border: 1px solid red;
    margin: 47px 38px 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-con{
    max-width: 585px;
}

#banner .banner-con h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-con h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-con p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-img  img{
    max-width: 585px;

}


/* baner clocge */


#about{
   padding-top: 130px;
}